<!DOCTYPE html>
<html>
<head>
    <title>{{web_title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <meta name="viewport"
          content="width=device-width, height=divice-height, inital-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no;"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'home_page.css' %}">
</head>
<body>
<div class="container">
    <div id="user">
        {% if error %}
        <p class="text-danger">☹ 欧漏。你还未登录 or 用户名存储已过期，可重新<a href="/">登录</a> ……</p>
        {% else %}
        <p class="text-primary">☺ 登录成功。欢迎用户 {{ username }}，来到精彩视频 ……</p>
        {% endif %}
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="video_11.html" target="_blank"><img src="{% static 'images/BingHeShiDai4.jpg' %}"
                                                             alt="冰河时代4"/></a>
            </div>
            <div class="item">
                <a href="video_12.html" target="_blank"><img src="{% static 'images/GongFuXiongMao3.jpg' %}"
                                                             alt="功夫熊猫3"/></a>
            </div>
            <div class="item">
                <a href="video_13.html" target="_blank"><img src="{% static 'images/XianXiaXueXuan.jpg' %}"
                                                             alt="仙侠学院"/></a>
            </div>
            <div class="item">
                <a href="video_14.html" target="_blank"><img src="{% static 'images/CiWeiXiaoZi.jpg' %}"
                                                             alt="刺猬小子"/></a>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>

    <div>
        <hr/>
        <ul class="nav nav-tabs nav-justified" id="index">
            <li class="active"><a href="#tab0" data-toggle="tab">动作</a></li>
            <li><a href="#tab1" data-toggle="tab">冒险</a></li>
            <li><a href="#tab2" data-toggle="tab">喜剧</a></li>
            <li><a href="#tab3" data-toggle="tab">动画</a></li>
            <li><a href="#tab4" data-toggle="tab">科幻</a></li>
            <li><a href="#tab5" data-toggle="tab">犯罪</a></li>
            <li><a href="#tab6" data-toggle="tab">爱情</a></li>
            <li><a href="#tab7" data-toggle="tab">武侠</a></li>
        </ul>
    </div>

    <div class="tab-content" id="my-content">
        <!--动作-->
        <div class="tab-pane fade in active" id="tab0">
            <ul class="figures_lists">
                {% if videos.Action %}
                {% for video in videos.Action %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    <!--                    <div class="label_title">-->
                    <!--              <span class="label_font">VIP影片</span>-->
                    <!--            </div>-->
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无动作片</li>
                {% endif %}
            </ul>
        </div>

        <!--冒险-->
        <div class="tab-pane fade" id="tab1">
            <ul class="figures_lists">
                {% if videos.Adventure %}
                {% for video in videos.Adventure %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}
            </ul>
        </div>
        <!--喜剧-->
        <div class="tab-pane fade" id="tab2">
            <ul class="figures_lists">
                {% if videos.Comedy %}
                {% for video in videos.Comedy %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}
            </ul>
        </div>
        <!--动画-->
        <div class="tab-pane fade" id="tab3">
            <ul class="figures_lists">
                {% if videos.Cartoon %}
                {% for video in videos.Cartoon %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}

            </ul>
        </div>
        <!--科幻-->
        <div class="tab-pane fade" id="tab4">
            <ul class="figures_lists">
                {% if videos.Science %}
                {% for video in videos.Science %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}

            </ul>
        </div>
        <!--犯罪-->
        <div class="tab-pane fade" id="tab5">
            <ul class="figures_lists">
                {% if videos.Crime %}
                {% for video in videos.Crime %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}

            </ul>
        </div>
        <!--爱情-->
        <div class="tab-pane fade" id="tab6">
            <ul class="figures_lists">
                {% if videos.Love %}
                {% for video in videos.Love %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}
            </ul>
        </div>
        <!--武侠-->
        <div class="tab-pane fade" id="tab7">
            <ul class="figures_lists">
                {% if videos.Swordsman %}
                {% for video in videos.Swordsman %}
                <li class="list_item" data-trigger-class="list_item_hover">
                    <a _boss="film" href="video_{{video.id}}.html" target="_blank" class="figure" tabindex="-1">
                        {% if video.movie_img == null %}
                        <img src="{% static 'images/Action/16.jpg' %}" alt="{{video.movie_name}}">
                        {% else %}
                        <img src="{% static video.movie_img %}" alt="{{video.movie_name}}"></img>
                        <!-- 所有条件都为假时执行 -->
                        {% endif %}
                    </a>
                    {% if video.new_tag == 1 %}
                    <img class="new_image" src="{% static 'images/new-blue.gif' %}"/>
                    {% endif %}
                    {% if video.hot_tag == 1 %}
                    <img class="hot_image" src="{% static 'images/hot-yellow.gif' %}"/>
                    {% endif %}
                    <strong class="figure_title">
                        <a _boss="film" href="video_{{video.id}}.html" target="_blank" title="{{video.movie_name}}">{{video.movie_name}}</a>
                    </strong>
                    {% endfor %}
                    {% else %}
                <li>暂无该类型影片</li>
                {% endif %}

                </li>
            </ul>
        </div>
    </div>
</div>
<script>
<!--      function addMovieToActionTab(movieTitle, movieImage, movieLink,movietype) {-->
<!--    var movieItem = `        <li class="list_item" data-trigger-class="list_item_hover">-->
<!--            <a _boss="film" href="${movie_id}" target="_blank" class="figure" tabindex="-1">-->
<!--                <img src="${movieImage}" alt="${movieTitle}">-->
<!--            </a>-->
<!--            <strong class="figure_title">-->
<!--                <a _boss="film" href="${movie_id}" target="_blank" title="${movieTitle}">${movieTitle}</a>-->
<!--            </strong>-->
<!--        </li>-->
<!--    `;-->
<!--    document.querySelector("#${movietype} .figures_lists").innerHTML += movieItem;-->
<!--}-->

</script>
</body>
</html>
